/agentic-apps/agents/weather_agent/weather_agent/__pycache__
/agentic-apps/agents/weather_agent/weather_agent/advise_agent/__pycache__
/agentic-apps/agents/gmail_agent/gmail_agent/summarise_agent/summarise_Agent/__pycache__
/agentic-apps/agents/weather_agent/weather_agent/.adk
/agentic-apps/config/__pycache__
/agentic-apps/manager_agent/manager_agent/__pycache__
/agentic-apps/mcps/weather-mcp/.adk
/agentic-apps/shared/__pycache__
/agentic-apps/manager_agent/.adk
/agentic-apps/manager_agent/manager_agent/.adk
/agentic-apps/agents/gmail_agent/gmail_agent/.adk
/agentic-apps/agents/gmail_agent/gmail_agent/__pycache__
/agentic-apps/agents/gmail_agent/gmail_agent/summarise_agent/__pycache__
/agentic-apps/agents/bigquery_agent/bigquery_agent/__pycache__
agentic-apps/agents/bigquery_agent/mcp_toolbox/toolbox.exe
