/agentic-apps/agents/weather_agent/weather_agent/__pycache__
/agentic-apps/agents/weather_agent/weather_agent/advise_agent/__pycache__
/agentic-apps/agents/gmail_agent/gmail_agent/summarise_agent/summarise_Agent/__pycache__
/agentic-apps/agents/weather_agent/weather_agent/.adk
/agentic-apps/config/__pycache__
/agentic-apps/manager_agent/manager_agent/__pycache__
/agentic-apps/mcps/weather-mcp/.adk
/agentic-apps/shared/__pycache__
/agentic-apps/manager_agent/.adk
/agentic-apps/manager_agent/manager_agent/.adk
/agentic-apps/agents/gmail_agent/gmail_agent/.adk
/agentic-apps/agents/gmail_agent/gmail_agent/__pycache__
/agentic-apps/agents/gmail_agent/gmail_agent/summarise_agent/__pycache__
/agentic-apps/agents/bigquery_agent/bigquery_agent/__pycache__
agentic-apps/agents/bigquery_agent/mcp_toolbox/toolbox.exe
/agentic-apps/agents/bigquery_agent/bigquery_agent/.adk
/agentic-apps/agents/currency_agent/currency_agent/__pycache__
/agentic-apps/agents/jira_agent/jira_agent/.adk
/agentic-apps/agents/currency_agent/currency_agent/mcp_wrapper/__pycache__
/agentic-apps/agents/jira_agent/jira_agent/__pycache__
/agentic-apps/agents/pdf_agent/pdf_agent/.adk
/agentic-apps/agents/pdf_agent/pdf_agent/.adk
/agentic-apps/agents/pdf_agent/pdf_agent/__pycache__
/agentic-apps/agents/pdf_agent/pdf_agent/mcp_wrapper/__pycache__
/agentic-apps/manager_agent/jira-agent/jira_agent/.adk
/agentic-apps/manager_agent/retail_sales_manager/__pycache__
/agentic-apps/manager_agent/weather_manager/.adk
/agentic-apps/manager_agent/retail_sales_manager/.adk
/agentic-apps/manager_agent/weather_manager/__pycache__
/agentic-apps/manager_agent/jira-agent/jira_agent/__pycache__
/agentic-apps/agents/workspace_agent/workspace_agent/__pycache__
/agentic-apps/agents/workspace_agent/workspace_agent/.adk
/agentic-apps/agents/bigquery_agent/bigquery_fashion_agent/__pycache__
/agentic-apps/agents/bigquery_agent/bigquery_fashion_agent/.adk
/agentic-apps/agents/currency_agent/currency_agent/.adk
agentic-apps/mcps/bigquery_toolbox/toolbox.exe
agentic-apps/mcps/gmail_mcp/token.json
